.content{
    margin-top: 5rem;
    padding: 2rem;
    justify-content: center;
    border: solid black 1px;
    border-radius: 2rem;
    font-size: large;
}
.header{
    color: blueviolet;
    margin-top: 5rem;
    font-size: 5vmin;
}