.container {
    display: flex;
    flex-direction: column;
  }

.left-panel {
   
    width: 200px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(155, 101, 240);
    color: #fff;
    cursor: pointer;
  }

  .main-content {
    flex: 1;
    /* Additional styles for the main content area */
  }
  .box{
    margin-top: 10vmin;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .annoucement{
    border: 1px solid rgb(155, 101, 240);
   
    border-style: groove;
    font-family: 'Courier New', Courier, monospace;
  }
  .annoucement-header{
    font-size: 5vmin;
    
    color: rgb(114, 66, 192);
   
  }
